<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Travel Planner Web Site" />
    <title>Travel Planner</title>
    <script src="https://kit.fontawesome.com/e8eb081234.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="post-container">
        <div class="post-card-header">
            <div class="post-card-header-logo">
                <i class="fas fa-fighter-jet"></i>
                <h1>
                    <a href="/" title="Main Logo">
                        Travel Planner
                    </a>
                </h1>
                <i class="fas fa-fighter-jet"></i>
            </div>
        </div>

        <div class="weather-form">
            <form class="weather-form-data">
                <div class="weather-label">
                    <label for="currentLocation"><i class="fa-solid fa-house-user"></i> From:</label>
                    <input type="text" id="currentLocation" name="currentLocation" maxlength="20" required>
                </div>
                <div class="weather-label">
                    <label for="travelLocation"><i class="fa-solid fa-globe"></i> To:</label>
                    <input type="text" id="travelLocation" name="travelLocation" maxlength="20" required>
                </div>
                <div class="weather-label">
                    <label for="depart"><i class="fa-solid fa-plane-departure"></i> Depart:</label>
                    <input type="date" id="depart" name="depart" required>
                </div>
                <div class="weather-label">
                    <label for="return"><i class="fa-solid fa-plane-arrival"></i> Return:</label>
                    <input type="date" id="return" name="return" required>
                </div>
                <div class="weather-button">
                    <button type="submit" class="submit-button"><i class="far fa-hand-point-right"></i> Check Trip</button>
                </div>
            </form>
        </div>

        <main class="post-card-main">
            <div class="post-card-nestedGrid"></div>
        </main>

        <footer class="post-card-footer">
            <div class="about">
                <i class="fas fa-hiking fa-lg"></i>
                <p>Travel planning site</p>
            </div>
            <hr />
            <div class="menu">
                <a href="https://www.booking.com/" target="_blank">
                    <i class="fa-solid fa-hotel"></i> Hotels Booking
                </a>
                <a href="https://www.booking.com/campings/index.html" target="_blank">
                    <i class="fas fa-campground fa-lg"></i> Camping Booking
                </a>
                <a href="https://www.booking.com/cars/index.html" target="_blank">
                    <i class="fa-solid fa-taxi"></i> Car Rental
                </a>
                <a href="https://www.booking.com/flights/index.uk.htm" target="_blank">
                    <i class="fa-solid fa-plane"></i> Flights booking
                </a>
            </div>
            <hr />
            <div class="footer-social-section">
                <p>Social Contacts</p>
                <i class="fab fa-instagram fa-lg"></i>
                <i class="fab fa-facebook-square fa-lg"></i>
                <i class="fab fa-twitter fa-lg"></i>
            </div>
            <hr />
            <div class="label">
                <p>
                    <i class="far fa-copyright"></i>Travel Planner Corp 2022
                </p>
            </div>
        </footer>
    </div>
</body>

</html>