.post-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    box-shadow: 0 4px 8px 0 rgb(42, 248, 255);
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    font-family: 'Metal', cursive, sans-serif;

    & h3 {
        font-weight: bold;
        font-size: 1.17em;
    }
}

@media(min-width:900px) {
    .post-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30vw;
        box-shadow: 0 4px 8px 0 rgb(42, 248, 255);
        transition: 0.5s;
        background-color: rgb(255, 255, 255);
        font-family: 'Metal', cursive, sans-serif;
    }
}

.post-card-container * {
    margin: 0;
    padding: 0;
}

.post-card-container:hover {
    box-shadow: 0 15px 20px 0 rgb(42, 248, 255);
}

.post-card-container figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-direction: column;
    padding: 5px;
    overflow: hidden;
    width: 90%;
    margin: 2%;
}

.post-card-container figure img {
    max-width: 100%;
    max-height: 100%;
    transform-origin: 50% 65%;
    transition: transform 2s ease-in-out;
}

.post-card-container figure img:hover {
    transform: scale(2);
}

.post-card-container figure figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.post-card-container i {
    transition: transform .5s ease;
}

.post-card-container i:hover {
    transform: scale(1.5);
    color: rgb(42, 248, 255);
}

.post-card-container .far.fa-heart:active,
.post-card-container .fa-solid.fa-heart:active {
    color: rgb(42, 248, 255);
    transform: translateY(2px);
    transition: 0.2s;
}

.post-card-container .post-card-badge {
    align-self: flex-end;
    margin: 1.5%;
    cursor: pointer;
}

.post-card-container q {
    quotes: auto;
}

.post-card-container a {
    text-decoration: none;
    color: black;
}

.post-card-container a:hover {
    color: rgb(42, 248, 255);
    text-decoration: underline;
}

.post-card-link-section {
    position: relative;
}

.post-card-social-icons {
    display: flex;
    flex-direction: row;
    /* solution to override one flex inside another */
    width: 100%;
    justify-content: left;
    align-items: left;
}

.post-card-social-icons i {
    cursor: pointer;
    padding: 15px;
}

.post-card-social-icons .fa-chevron-down {
    margin-left: auto;
}