@font-face {
    font-family: "Metal";
    src: local('Metal'), url('../webfonts/Metal-Regular.ttf') format('truetype');
    font-style: auto;
}

@font-face {
    font-family: "Metal Mania";
    src: local('Metal Mania'), url('../webfonts/MetalMania-Regular.ttf') format('truetype');
    font-style: auto;
}

@font-face {
    font-family: 'Mochiy Pop P One';
    src: local('Mochiy Pop P One'), url('../webfonts/MochiyPopPOne-Regular.ttf') format('truetype');
    font-style: auto;
}